{% extends "./base.html" %}
{% block content  %}
<div class="container">
	<div class="row mt-5">
		<div class="col-6 mx-auto">
		  <a href="vrnForm/" class="btn btn-primary btn-lg " tabindex="-1" role="button" aria-disabled="true">Authenticate and Pay Your Challan</a>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-6 mx-auto">
		  <a href="#" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Official Data Feeder Login</a>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-6 mx-auto">
		  <a href="#" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button" aria-disabled="true">Maintenance Staff Login</a>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col-6 mx-auto">
		  <a href="admin/" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Administator Login</a>
		</div>
	</div>
</div>
{% endblock %}